.projectsWrapper {
  margin-top: 30px;
}

.projects {
  
}

.projectsTitle{


  h1 {

  }
}

.projectContainerLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.imageContainer {

}

.projectInfoContainer {
 
  h1 {

  }
  h2 {

  }
  a {

  }
  p{

  }

}

.projectContainerRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.projectInfoBox {

  h1 {

  }
}

.projectInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}



.imageBox img {
  width: 100%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.37);
}

.projectInfoBox h2 {
  font-size: 16px;
}

@media (max-width: 1250px) {
  .projectContainer-left {
    flex-direction: column;
  }

  .projectContainer-right {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .projectInfoBox h1 {
    font-size: 40px;
    line-height: normal;
    letter-spacing: normal;
  }

  .projectsTitle h1 {
    font-size: 52px;
    line-height: normal;
    margin: 10px;
    text-align: center;
  }
}
