.formBox {
  height: 300px;
  background: #cccccc;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.57);
  padding: 20px;
}

.formBody {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.formBox h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  color: #868686;
}

.formBox input {
  margin: 8px 0px;
}

.formBox input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  height: 60px;
}

.formBox button {
  margin-top: 20px;
  width: 50%;
}


@media (max-width: 768px) {
  .formBox {
    text-align: center;
  }
  .formBox button {
  margin: 0 auto; 
}
}