.titleBox {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.aboutWrapper {
  margin: 20px;
}

.designBox {
  display: flex;
  flex-direction: row;
}

.design1 {
  width: 144px;
  height: 144px;

  background: #ffffff;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}

.design2 {
  width: 144px;
  height: 144px;

  background: #ffffff;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.titleBox h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
  /* identical to box height */

  color: #868686;
}

.titleBox {
  justify-content: space-between;
  margin-top: 50px;
}

.introBox p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  letter-spacing: 0.385714px;

  color: #6d6d6d;
}

.imageContainer img {
  width: 80%;
}

.imageContainer {
  text-align: center;
  margin-top: 20px;
}

.signature {
  font-family: 'Cedarville Cursive', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 76px;
  /* identical to box height */

  letter-spacing: 1.71429px;
  margin-top: 20px;
  color: #6d6d6d;
}

@media (max-width: 1400px) {
  .designBox {
    display: none;
  }
}

@media (max-width: 1300px) {
  .titleBox h1 {
    font-size: 52px;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
  }
  .signature {
    font-size: 23px;
    margin: 0 auto;
  }
}
