header {
  margin: 0 auto;
  min-width: 320px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.name {
  font-size: 3em;
  font-family: 'Great Vibes';
}

.navigationList {
  display: flex;
  flex-direction: row;
  width: 420px;
}

.navigationList ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigationList li {
  list-style: none;
}

.navigationList li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6.33143px;
  color: #000000;
}

.navigationList li i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .navigationList span {
    display: none;
  }

  .navigationList {
    width: 120px;
  }

  .navigationList li i:hover .navigationList span {
    display: block !important;
    color: red;
  }
}
